
header
  border-bottom: 1px solid #EAEEF4
  padding: 15px 37px
  background-color: white
  display: flex

.profile
  margin-left: auto
  color: #002D4F
  display: flex
  justify-content: center
  align-items: center
  cursor: pointer
  span
    margin-left: 10px
    margin-right: 10px
    font-size: 0.9rem
