body
  font-family: 'Soleil', sans-serif
  margin: 0
  background-color: #F4F9FC

.left-panel
  background-color: white
  height: 100% !important
  .mat-figure
    display: block !important
    padding: 35px 30px !important
    span
      font-size: 0.78rem
      margin-top: 5px
      display: block
      color: #002D4F
    .left-panel__img
      display: block !important
      text-align: center
      font-weight: bold
      margin-bottom: 50px

nav
  width: 100%
  ul
    list-style: none
    padding: 8px
    li
      margin-bottom: 28px
      color: #4C6C83
      font-size: 0.88rem
      cursor: pointer

.main-content
  height: 100% !important
  .mat-figure
    display: block !important
    padding: 37px 66px !important
    overflow-y: auto
