
.item-detail
  background-color: white
  text-align: center
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  margin: auto
  label
    color: #002D4F
    font-size: 1.5rem
    margin-right: 50px
  span
    color: #00124F
    font-size: 2rem
