<app-header></app-header>

<mat-grid-list cols="6" rowHeight="90.1%">
  <mat-grid-tile [colspan]="1" [rowspan]="1" class="left-panel" >
    <app-sideBar></app-sideBar>
  </mat-grid-tile>


  <mat-grid-tile [colspan]="5" [rowspan]="1"  class="main-content" >
    <router-outlet></router-outlet>
  </mat-grid-tile>

</mat-grid-list>
