$borderColor: #E5E9ED
@mixin radius
  border-radius: 5px


section
  width: 100%
  padding-bottom: 150px
  input
    width: 100%
    padding: 10px 20px
    border: 1px solid $borderColor
    box-sizing: border-box
    @include radius

a
  float: right
  background-color: #0087EF
  color: white
  padding: 10px 30px
  border: none
  border-radius: 3px
  cursor: pointer
  text-decoration: none
  font-size: 1rem

.item
  background-color: white
  padding: 17px
  border: 1px solid $borderColor
  margin-top: 20px
  margin-left: auto
  color: #00124F
  font-size: 1.5rem
  display: flex
  justify-content: space-between
  align-items: center
  @include radius
