<section>
  <div>
    <input placeholder="search" (input)="search($event.target.value)"/>
  </div>
  <ng-container *ngFor="let item of items">
    <div id={{item.id}} class="item" style.width={{item.width}} >
      {{ item.title }}
      <a href="http://localhost:4200/items/{{item.id}}">Button</a>
    </div>
  </ng-container>
</section>
